.filter {
  padding: 0 1em;
}

.small {
  font-size: 0.8em;
}

label {
  width: 4em;
}

input[type=text] {
  width: 30em;
}

table.documents {
  border-collapse: separate;
  border-spacing: 2px;

  td, th {
    padding: 4px 5px;
  }
  tr {
    border-bottom: 2px solid transparent;
  }
  tr.state > td:first-child {
    border-left: 0.5em solid lightgrey;
  }
  tr.warning > td:first-child {
    border-color: @colorWarning;
  }
  tr.critical > td:first-child {
    border-color: @colorCritical;
  }
  tr.state a {
    font-weight: normal;
  }

  td {
    white-space: nowrap;
  }
  td.rawjson {
    font-size: 0.8em;
  }
}

table.event_detail {
  td, th {
    padding: 2px 5px;
  }
  th {
    vertical-align: top;
    text-align: left;
  }

}
