.small {
  font-size: 0.8em;
}

label {
  width: 4em;
}

input[type=text] {
  width: 30em;
}

/* eventTable START */
table.eventTable {
  border-collapse: separate;
  border-spacing: 2px;

  th {
    text-align: left;
    white-space: nowrap;
  }
  td, th {
    padding: 4px 5px;
  }
  tbody {
    tr.event > td:first-child {
      border-left: 0.5em solid lightgrey;
    }
    tr.event:hover {
      background-color: @tr-active-color;
    }
    td {
      white-space: nowrap;
    }
    td.rawjson {
      padding: 0;
      font-size: 0.9em;
      pre {
        margin: 0;
      }
    }

  }
  /* TODO: currently unused
  tr.warning > td:first-child {
    border-color: @colorWarning;
  }
  tr.warning.handled > td:first-child {
    border-color: @colorWarningHandled;
  }
  tr.critical > td:first-child {
    border-color: @colorCritical;
  }
  tr.critical.handled > td:first-child {
    border-color: @colorCriticalHandled ! important;
  }
  */

}
/* eventTable END */

table.event_detail {
  td, th {
    padding: 2px 5px;
  }
  th {
    vertical-align: top;
    text-align: left;
  }

}

/* FieldSelector START */
form.fieldSelector {
  float: left;
  line-height: 2em;
  margin-bottom: 0.5em;
  padding-left: 1em;

  input[name=fields] {
    background: transparent url("../img/icons/dashboard.png") no-repeat scroll 0.1em center;
    background-size: 1em 1em;
    padding-left: 1.5em;
    width: 35em;
  }
}
/* FieldSelector END */
