.small {
  font-size: 0.8em;
}

a {
  color: @icinga-blue;
}

label {
  width: 4em;
}

input[type=text] {
  width: 30em;
}

h1, h2, h3, h4, h5, h6 {
  a.qlink {
    font-size: 0.8em;
    color: @icinga-blue;
    font-weight: normal;
  }
}

/* eventTable START */
table.eventTable {
  border-collapse: separate;
  border-spacing: 2px;

  th {
    text-align: left;
    white-space: nowrap;
  }
  td, th {
    padding: 4px 5px;
  }
  tbody {
    tr.event > td:first-child {
      border-left: 0.5em solid lightgrey;
    }
    tr.event:hover {
      background-color: @tr-active-color;
    }
    td {
      white-space: nowrap;
    }
    td.rawjson {
      padding: 0;
      font-size: 0.9em;
      pre {
        margin: 0;
      }
    }

  }
  /* TODO: currently unused
  tr.warning > td:first-child {
    border-color: @colorWarning;
  }
  tr.warning.handled > td:first-child {
    border-color: @colorWarningHandled;
  }
  tr.critical > td:first-child {
    border-color: @colorCritical;
  }
  tr.critical.handled > td:first-child {
    border-color: @colorCriticalHandled ! important;
  }
  */

}
/* eventTable END */

table.event_detail {
  td, th {
    padding: 2px 5px;
  }
  th {
    vertical-align: top;
    text-align: left;
  }
  td.value {
    font-family: "Liberation Mono", "Lucida Console", Courier, monospace;
    white-space: pre-wrap;
  }

}

/* FieldSelector START */
form.fieldSelector {
  float: left;
  line-height: 2em;
  margin-bottom: 0.5em;
  padding-left: 1em;

  input[name=fields] {
    background: transparent url("../img/icons/dashboard.png") no-repeat scroll 0.1em center;
    background-size: 1em 1em;
    padding-left: 1.5em;
    width: 35em;
  }
}
/* FieldSelector END */

/* AutoRefresher START */
.auto-refresh-control {
  display: inline-block;
  margin: 0 1em;

  > .control-group {
    padding: 0;
    // Note that the sort-control form does not have padding as it's utilizing different decorators

    > .control-label-group {
      text-align: left;
      padding: 0;
      width: 1.2em;
    }

    > select {
      width: 4.5em;
    }

    > i {
      .sr-only();
    }
  }
}
/* AutoRefresher END */

/* Tiles START */
.tiles {
  .tiles-container {
    display: inline-block;
    width: 100%;
    margin: 2em;
  }
  a.tile:hover {
    text-decoration: none;
  }
  .tile {
    height: 10em;
    width: 18em;

    display: block;
    float: left;

    padding: 1em;
    margin: 0.5em;

    border-left: 3px solid #eee;
    box-shadow: 5px 5px 5px #eee;
  }
  .tile:hover {
    background-color: @tr-active-color;
  }
  .tile-label {
    display: block;

    font-weight: bold;
    font-size: 1.2em;

    margin-bottom: 0.5em;
  }
  .tile-content {
  }
}
/* Tiles END */
